{% extends "base.html" %}
{% block content %}
<section
  class="container mx-auto flex flex-col px-8 py-36 sm:px-12">
  <div class="mr-4 w-full text-center sm:w-1/2 sm:text-left">
    <h1 class="mb-6 text-3xl leading-tight font-mono font-bold text-black md:text-4xl">
      Bored of coding alone?
    </h1>
    <div class="flex flex-col space-y-3 md:flex-row md:space-x-2 md:space-y-0">
      <a href="{{url_for('rooms.create_room') if user_is_authenticated else url_for('auth.login')}}"
         class="bg-slate-500 hover:bg-slate-700 text-white text-base rounded-lg py-2.5 px-5 transition-colors w-full text-[19px] text-center">
        Create a Room
      </a>
      <a href="{{join_room_url if user_is_authenticated else url_for('auth.login')}}"
         class="bg-slate-500 hover:bg-slate-700 text-white text-base rounded-lg py-2.5 px-5 transition-colors w-full text-[19px] text-center">
        Join a Room
      </a>
    </div>
  </div>
</section>
{% endblock %}
