{% extends "base.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
<div class="h-screen flex w-full relative">
    <div class="flex w-4/5">
        <div id="editor" contenteditable="true" class="h-full w-1/2"></div>
        <div id="output" class="h-full w-1/2 bg-gray-950 text-white whitespace-pre-wrap break-words font-mono"></div>
    </div>
    <div class="w-1/5 flex flex-col items-start ml-2 mr-2 pt-2">
        <input type="text" name="room_code" value="Room Code: {{room_code}}" class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium" readonly/>
        <div class="flex w-full">
            <button id="run" class="bg-green-700 hover:bg-green-900 text-white text-base rounded-lg py-1 px-5 transition-colors text-[19px] mr-2 w-full">Run</button>
            <button id="delete" class="{% if not is_owner %}bg-gray-500 cursor-not-allowed{% else %}bg-red-700 hover:bg-red-900{% endif %} text-white text-base rounded-lg py-1 px-5 transition-colors text-[19px] w-full" {% if not is_owner %}disabled{% endif %}>Delete Room</button>
        </div>
        <div id="chat" class="w-full flex flex-col flex-grow mt-4 mb-4">
            <div id="messages" class="flex-grow overflow-y-scroll border border-slate-600 rounded-lg p-2 mb-2 bg-white text-black"></div>
            <input type="text" id="message_input" class="w-full px-4 py-2 border border-slate-600 rounded-lg mb-2" placeholder="Type a message..."/>
            <button id="send" class="bg-blue-700 hover:bg-blue-900 text-white text-base rounded-lg py-1 px-5 transition-colors w-full">Send</button>
        </div>
    </div>
</div>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/python");
    editor.setFontSize(16);

    var socket = io.connect("http://" + document.domain + ":" + location.port);
    var isRemoteChange = false;

    editor.on("change", function() {
        if (!isRemoteChange) socket.emit("editor_code_update", { code: editor.getValue() });
    });

    socket.on("update_editor", function(data) {
        if (editor.getValue() !== data.code) {
            isRemoteChange = true;
            editor.setValue(data.code, -1);
            isRemoteChange = false;
        }
    });

    $("#run").click(function() {
        $.post({
            url: "{{url_for('workspace.run_python_code')}}",
            contentType: "application/json",
            data: JSON.stringify({ code: editor.getValue() }),
            success: function(response) {
                $("#output").text(response.output);
            }
        });
    });

    $("#delete").click(function() {
        $.post({
            url: "{{url_for('rooms.delete_current_room')}}",
            contentType: "application/json",
            data: JSON.stringify({ room_code: "{{room_code}}" }),
            success: function() {
                window.location.href = "/";
            }
        });
    });

    socket.on("chat_history", function(data) {
    data.messages.forEach(function(message) {
        var chatMessage = "<div><strong>" + message.username + ":</strong> " + message.message + "</div>";
        $("#messages").append(chatMessage);
    });

    $("#messages").scrollTop($("#messages")[0].scrollHeight);
    });

    socket.on("join_room_announcement", function(data) {
        var announcement = "<div><em>" + data.username + " has joined the room</em></div>";
        $("#messages").append(announcement);
        $("#messages").scrollTop($("#messages")[0].scrollHeight);
    });

    socket.emit("join_room", { room_code: "{{room_code}}", username: "{{current_user.username}}" });

    window.addEventListener("beforeunload", function (event) {
        socket.emit("leave_room", { room_code: "{{room_code}}", username: "{{current_user.username}}" });
    });

    socket.on("leave_room_announcement", function(data) {
        var announcement = "<div><em>" + data.username + " has left the room</em></div>";
        $("#messages").append(announcement);
        $("#messages").scrollTop($("#messages")[0].scrollHeight);
    });

    $("#send").click(function() {
        var message = $("#message_input").val();
        if (message.trim() !== "") {
            socket.emit("send_message", { room_code: "{{room_code}}", message: message });
            $("#message_input").val("");
        }
    });

    socket.on("receive_message", function(data) {
        var chatMessage = "<div><strong>" + data.username + ":</strong> " + data.message + "</div>";
        $("#messages").append(chatMessage);
        $("#messages").scrollTop($("#messages")[0].scrollHeight);
    });


</script>

{% endblock %}